* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

#login {
    padding: 10px;
    border: 1px solid #ccc;
}

#login * {
    margin: 0px
}

#login h2 {
    text-align: left;
}

#login p {
    margin: 0px
}

#login input {
    margin: 5px
}

#holder { 
    border: 10px dashed #ccc; 
    width: 100px; 
    height: 100px; 
}

#holder.hover { 
    border: 10px dashed #333; 
}
