
# Created by https://www.gitignore.io/api/go

### Go ###
# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# End of https://www.gitignore.io/api/go
# Emacs backup files
*~
*#
.#*
# Vim file artifacts
.*.sw*
# installed platform-specific binaries
fabric-Sample/bin
.DS_Store
.project

fabric-Sample/first-network/channel-artifacts/*.tx
fabric-Sample/first-network/channel-artifacts/*.block
fabric-Sample/first-network/crypto-config/*

fabric-Sample/chaincode-docker-devmode/myc.block
fabric-Sample/chaincode-docker-devmode/chaincode/sacc/sacc
fabric-Sample/chaincode-docker-devmode/chaincode/chaincode_example02/chaincode_example02

# fabric sdk node modules
fabric-Sample/fabcar/node_modules/

# balance transfer sample
fabric-Sample/balance-transfer/.DS_Store
fabric-Sample/balance-transfer/node_modules/*

#Keys
fabric-Sample/fabcar/hfc-key-store