
# Created by https://www.gitignore.io/api/go

### Go ###
# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# End of https://www.gitignore.io/api/go
# Emacs backup files
*~
*#
.#*
# Vim file artifacts
.*.sw*
# installed platform-specific binaries
/bin
.DS_Store
.project

first-network/channel-artifacts/*.tx
first-network/channel-artifacts/*.block
first-network/crypto-config/*

chaincode-docker-devmode/myc.block
chaincode-docker-devmode/chaincode/sacc/sacc
chaincode-docker-devmode/chaincode/chaincode_example02/chaincode_example02

# fabric sdk node modules
fabcar/node_modules/

# balance transfer sample
balance-transfer/.DS_Store
balance-transfer/node_modules/*
